<html>
  <head>
    <title>Robot Lab live streaming</title>
    <!--<link rel="stylesheet" href='../static/style.css'/>      <script src="{{ url_for('video_feed', ) }}"></script>-->
  </head>
  <body>
    <h1>robot lave live</h1>
   
    <h3><img src="{{ url_for('video_feed'), filename='js/redirect.js' }}" width="50%"</h3>
    <h4>Whatever</h4>
    <div clss="confirmation" name="confirm">
      <h2>To help us improve, please can you verify is this was you</h2>
      <form method = 'post' enctype=multipart/form-data></form>
      <input type="submit" name="verify" value="Yes, it was I" />
      <input type="submit" name="verify" value="No, I lets try again" />
      
    </div>
    
    <p>@2018 Developed by akshay</p>
  </body>
</html>
