<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <div class="welcome" name="welcome">
      <h1>{ name }} has { logged } at { time }</h1>
    </div>

    <div clss="confirmation" name="confirm">
      <h2>To help us improve, please can you verify is this was you</h2>
      <input type="submit" name="verify" value="Yes, it was I" />
      <input type="submit" name="verify" value="No, I lets try again" />
    </div>
  </body>
</html>
